mixin stat__item

    li.stat__item.col-sm-6.col-xl-3

        .stat__counter 15

        .stat__small Proposals


.main.main_wrapper.col

    ng-view

    //include ../modules/header

    //include ../content/products


