mixin products

    .product.d-flex.row.no-gutters

        .product__thumb
            img(src="assets/img/phones/dell-streak-7.0.jpg" alt="alt")

        .product__inner.col-12.col-md

            .product__title
                a Dell Streak 7.0
            .product__price 3180

            .product__desc
                | Contour Display, Near Field Communications (NFC), Three-axis gyroscope, Anti-fingerprint display coating, Internet Calling support (VoIP/SIP)

            .product_info

                .product_info__elem
                    span.text В наличии
                    .fa.fa-check(aria-hidden="true")

.products_wrapper

    .products

        .product_details

            h1.product_details__title Dell Streak 7.0
            .product_details__price 3180

            .product_details__image
                img(src="assets/img/phones/dell-streak-7.0.jpg" alt="alt")

            ul.product_details__thumbs.no-list.d-flex.justify-content-center

                li.product_details__thumb
                    img(src="assets/img/phones/dell-streak-7.0.jpg" alt="alt")

                li.product_details__thumb
                    img(src="assets/img/phones/dell-streak-7.0.jpg" alt="alt")

                li.product_details__thumb
                    img(src="assets/img/phones/dell-streak-7.0.jpg" alt="alt")


            .product_details__info

                h2.header_row Описание
                p.product_details__desc Contour Display, Near Field Communications (NFC), Three-axis gyroscope, Anti-fingerprint display coating, Internet Calling support (VoIP/SIP)

                h2.header_row Характеристики

                ul.product_options.no-list

                    li.product_option.d-flex

                        .product_option__name Диагональ
                        .product_option__val 18 дюймов


