ul.navigation.no-list

    li
        a.navigation__item.navigation__item_active(href="/" data-nav-target="home")
            i.navigation__icon.fa.fa-home(aria-hidden="true")
            .navigation__text Home

    li
        a.navigation__item(href="/about" data-nav-target="about")
            i.navigation__icon.fa.fa-lightbulb-o(aria-hidden="true")
            .navigation__text About

    li
        a.navigation__item(href="/contacts" data-nav-target="contacts")
            i.navigation__icon.fa.fa-handshake-o(aria-hidden="true")
            .navigation__text Contacts

