header.header.header_gray.d-flex.align-items-center.justify-content-between

    h1.product_title Tutorial: Tour of Heroes

.main_wrapper
    .main_content

        p 
            |The Tour of Heroes tutorial covers the fundamentals of Angular.
            |In this tutorial you will build an app that helps a staffing agency manage its stable of heroes.

        p This basic app has many of the features you'd expect to find in a data-driven application. It acquires and displays a list of heroes, edits a selected hero's detail, and navigates among different views of heroic data.

        p By the end of the tutorial you will be able to do the following:

        ul
            li Use built-in Angular directives to show and hide elements and display lists of hero data.
            li Create Angular components to display hero details and show an array of heroes.
            li Use one-way data binding for read-only data.
            li Add editable fields to update a model with two-way data binding.
            li Bind component methods to user events, like keystrokes and clicks.
            li Enable users to select a hero from a master list and edit that hero in the details view.
            li Format data with pipes.
            li Create a shared service to assemble the heroes.
            li Use routing to navigate among different views and their components.
            li You'll learn enough Angular to get started and gain confidence that Angular can do whatever you need it to do.