header.header.header_gray.d-flex.align-items-center.justify-content-between

    h1.product_title FeedBack

.main_wrapper
    .main_content

        .contacts
            form
                .form-group
                label(for="exampleFormControlInput1") Email address
                input#exampleFormControlInput1.form-control(type="email" placeholder="name@example.com")
                
                .form-group
                label(for="exampleFormControlTextarea1") Your message
                textarea#exampleFormControlTextarea1.form-control(rows="3")

                button.contacts__submit.btn.btn-primary(type="submit") Submit
            