header.header.d-flex.align-items-center.justify-content-between

    .search

        .search__icon.fa.fa-search(aria-hidden="true")
        input.search__input(type="text" placeholder="Search.." ng-model="search_query")

    .dropdown.orderby

        #orderby__select.orderby__select(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span.orderby__text Sort by
            b.orderby__option {{orderName}}
            .fa(aria-hidden="true" ng-class="orderReverse ? 'fa-chevron-up': 'fa-chevron-down'")


        .dropdown-menu(aria-labelledby="orderby__select")
            a.dropdown-item( ng-repeat="item in orderList" ng-click="setOrderBy(item.id)") {{item.name}}
            //pre {{item | json}}


.main_wrapper
    .main_content

        .products
        
            .product.d-flex.row.no-gutters(ng-repeat="phone in phoneList | filter:search_query | orderBy:orderVal:orderReverse")

                .product__thumb
                    img(ng-src="{{phone.imageUrl}}" alt="{{phone.name}}")

                .product__inner.col-12.col-md

                    .product__title
                        a(ng-href="/phones/{{phone.id}}")
                            |{{phone.name}}
                    .product__price 
                        |{{phone.price | currency}}

                    .product__desc
                        | {{phone.snippet}}

                    .product_info.w-100

                        .product_info__elem(ng-hide="{{!phone.status}}")
                            span.text В наличии
                            .fa.fa-check(aria-hidden="true")

                        .product_info__elem(ng-hide="{{phone.status}}")
                            span.text Нет в наличии 